<!-- <br><br>

<h2 class="page-header">Dashboard</h2>
<br>
<p>Welcome to Dashboard!</p>
<br> -->

<div class="row select">
    <div class="col-md-2" >
               
    </div>

    <div class="col-md-4 txt" >
        <a class="nav-link" [routerLink]="['/view']">
        <button class="card text-white bg-success mb-3">
            <!-- <div class="card-header">Header</div> -->
            <div class="card-body">
               
                <h4 class="card-title">View All Reservations</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               
            </div>
        </button>
        </a>
    </div>

    <div class="col-md-4 txt" >
        <a class="nav-link" [routerLink]="['/search']">
            <button class="card text-white bg-success mb-3">
                <!-- <div class="card-header">Header</div> -->
                <div class="card-body">
                    
                    <h4 class="card-title">Search Reservations</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
                </div>
            </button>
         </a>
    </div>

    <div class="col-md-2" >
               
    </div>
    
</div>

<div class="row select1">
        <div class="col-md-4" >
                   
        </div>
    
        
        <div class="col-md-4 txt" >
            <a class="nav-link" [routerLink]="['/add']">
                <button class="card text-white bg-success mb-3">
                    <!-- <div class="card-header">Header</div> -->
                    <div class="card-body">
                        
                        <h4 class="card-title">Add Reservation</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                    </div>
                </button>
             </a>
        </div>
    
        <div class="col-md-4" >
                   
        </div>
        
    </div>
    