<div class="row select">
    <div class="col-md-2" >
               
    </div>

    <div class="col-md-4 txt" >
        <a class="nav-link" [routerLink]="['/view']">
        <button class="card text-white bg mb-3 c1">
            
            <div class="card-body1">
                <img class="img" src="../../assets/images/5.png"> 
                <h4 class="card-title">View All Reservations</h4>
                <p>You can view all reservations</p>
               
            </div>
        </button>
        </a>
    </div>

    <div class="col-md-4 txt " >
        <a class="nav-link" [routerLink]="['/search']">
            <button class="card text-white bg mb-3 c2 ">
                <!-- <div class="card-header">Header</div> -->
                <div class="card-body2">
                    <img class="img" src="../../assets/images/6.png">
                    <h4 class="card-title">Search Reservations</h4>
                    <p>You can search a reservations by giving a date</p>
            
                </div>
            </button>
         </a>
    </div>

    <div class="col-md-2" >
               
    </div>
    
</div>

<div class="row ">
        <div class="col-md-4" >
                   
        </div>
    
        
        <div class="col-md-4 txt" >
            <a class="nav-link" [routerLink]="['/add']">
                <button class="card text-white bg mb-3 c3">
                    <!-- <div class="card-header">Header</div> -->
                    <div class="card-body3">
                        <img class="img" src="../../assets/images/7.png">
                        <h4 class="card-title">Add Reservation</h4>
                        <p>You can add a reservation</p>
                
                    </div>
                </button>
             </a>
        </div>
    
        <div class="col-md-4" >
                   
        </div>
        
    </div>
    