<br><br>
<div class="jumbotron">
    <h2 class="title">Users Information</h2><br>
    <table class="table table-hover">
      <thead>
        <tr class="table-dark">
          <th>NAME</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" *ngFor = "let user of user">
          <td><b>{{user.name}}</b></td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>