
<div class=" text-center main">
  <h1 class="header">
    Welcome to UCSC Labs!
  </h1>
  <img class="img" src="../../assets/images/s1.png">
  <!-- <img class="img" src="../../assets/images/s3.png"> -->
  <img class="img" src="../../assets/images/s2.png">
  <p class="cont">
    <br> An online lab reservation system for the UCSC labs

  <div>
    <!-- <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"> 
      <a class="btn btn-outline-warning bton" [routerLink]="['/register']">Register</a> </li><br>
    <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
      <a class="btn btn-outline-warning bton1" [routerLink]="['/login']">Login</a> </li> -->

      <a class="btn btn-outline-warning bton" [routerLink]="['/register']">Register</a> <br>
      <a class="btn btn-outline-warning bton1" [routerLink]="['/login']">Login</a>
      
  </div>
</div>
